@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

$primary: #39268A;
$secondary: #00BFFF;
// $third: #9326FF;
$third: #6556FF;

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  @media (max-width: 1179px)  {
    text-align: center;
    padding: 0 10px;
  }
}

a {
  text-decoration: none;
}

.container {
  @media (min-width:1180px) {
    width: 1180px;
  }
  margin: 0 auto;
}

#logo {
  background-image: url(assets/lp/adcar_logo.png);
  background-repeat: no-repeat;
  width: 261px;
  height: 92px;
}

.gradient_text {
  background: -webkit-linear-gradient($secondary, $third);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient_box {
  background: $secondary;
  background: -moz-linear-gradient(-45deg, $secondary 0%, $third 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, $secondary), color-stop(100%, $third));
  background: -webkit-linear-gradient(-45deg, $secondary 0%, $third 100%);
  background: -o-linear-gradient(-45deg, $secondary 0%, $third 100%);
  background: -ms-linear-gradient(-45deg, $secondary 0%, $third 100%);
  background: linear-gradient(135deg, $secondary 0%, $third 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$secondary', endColorstr='$third', GradientType=1 );
}

h1 {
  @extend .gradient_text;
  font-family: 'Archivo Black', sans-serif;   
  font-weight: bold;
  font-size: 2em;
}


@import './app/app.component';
@import './app/register/register.component';